<?xml version="1.0"?>
<launch>

	<node pkg="pcl_filters" type="downsampling_filter" name="downsampling_filter" output="screen" required="true">
		<param name="VoxelWidth" type="double" value="0.01"/>
		<param name="VoxelLength" type="double" value="0.01"/>
		<param name="VoxelHeight" type="double" value="0.01"/>
	</node>
  
</launch>
