<?xml version="1.0"?>
<launch>

	<!-- Passthrough filter node -->
	<node pkg="pcl_filters" type="passthrough_filter" name="passthrough_filter" output="screen" required="false"/>
	
	<!-- Downsampling filter node -->
	<node pkg="pcl_filters" type="downsampling_filter" name="downsampling_filter" output="screen" required="false"/>
	
	<!-- Radius outlier filter node -->
	<node pkg="pcl_filters" type="radiusoutlierremoval_filter" name="radiusoutlierremoval_filter" output="screen" required="false"/>

	<!-- Statistical outlier filter node -->
	<node pkg="pcl_filters" type="statisticaloutlierremoval_filter" name="statisticaloutlierremoval_filter" output="screen" required="false"/>

</launch>
