<?xml version="1.0"?>
<launch>

	<node pkg="pcl_filters" type="statisticaloutlierremoval_filter" name="statisticaloutlierremoval_filter" output="screen" required="true">
		<param name="neighbours" type="integer" value="0.0" />
		<param name="standard_deviation" type="double" value="0.5" />
	</node>
 
</launch>
