<?xml version="1.0"?>
<launch>

	<!-- Launch file designed to test plc_file_reader agent, it will visualize a pointcloud -->

	<!-- pointcloud reader node -->
	<node pkg="pcl_file_reader" type="pcl_file_reader" name="pcl_file_reader" output="screen" required="true"> </node>
	
	<!-- run the following command to visualize the pointcloud : -->
	<!-- rostopic pub /read_request std_msgs/String "Read pcd" -->

</launch>
