<?xml version="1.0"?>
<launch>

	<!-- This launch file was designed to test plc_file_reader agent -->

	<!-- pointcloud reader node -->
	<node pkg="pcl_file_reader" type="pcl_file_reader" name="pcl_file_reader" output="screen" required="true"> </node>
  
	<!-- pointcloud viewer node -->
	<include file="$(find pcl_viewer)/launch/pcl_viewer.launch"/>

	<!-- dynamic reconfigure gui -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" required="true"> </node>

</launch>
