<?xml version="1.0"?>
<launch>

	<!-- pointcloud reader node -->
	<node pkg="pcl_file_reader" type="pcl_file_reader" name="pcl_file_reader" > </node>
	
	<!-- pointcloud reader node -->
	<node pkg="pcl_kinect" type="pcl_kinect" name="pcl_kinect" output="screen" required="false"> </node>
	
	<!-- pointcloud filters node -->
	<include file="$(find pcl_filters)/launch/pcl_filters.launch"/>
	
	<!-- pointcloud viewer node -->
	<node pkg="pcl_viewer" type="pcl_viewer" name="pcl_viewer" output="screen" required="true"></node>

	<!-- dynamic reconfigure -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" required="false"> </node>

	<!-- rqt_graph to see the pipeline -->
	<node pkg="rqt_graph" type="rqt_graph" name="rqt_graph" required="false"> </node>

</launch>
