<?xml version="1.0"?>
<launch>

	<!-- pointcloud reader node -->
	<include file="$(find pcl_file_reader)/launch/pcl_file_reader.launch"/>
	
	<!-- pointcloud filters node -->
	<include file="$(find pcl_filters)/launch/pcl_filters.launch"/>
	
	<!-- pointcloud viewer node -->
	<include file="$(find pcl_viewer)/launch/pcl_viewer.launch"/>

	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" required="true"> </node>

	<!-- run the following command to visualize the pointcloud : -->
	<!-- rostopic pub /read_request std_msgs/String "Read pcd" -->

</launch>
